body {
	font-family: "Inter", sans-serif;
	text-rendering: geometricPrecision;
	margin-bottom: 75px;
}

::selection {
  background: #FFED47;
}

.container {
}

.text-row {
	max-width: 700px;
	text-align: justify;
	padding: 0px 30px;
	padding-top: 50px;
}

.title {
	color: #a1a1a1;
	font-size: 14px;
}

.body {
	color: #191919;
	font-size: 1rem;
	line-height: 2rem;
	letter-spacing: -0.04rem;
}

.italic {
	font-family: italic;
}

a {
	color: black;
}

a:visited {
	color: black;
}

.body a:hover {
	font-style: italic;
}

.collaborators {
	font-style: normal;
	color: #b1b1b1;
}


.video-carousel {
	width: 100%;
	white-space: nowrap;
	overflow-x: visible;
  overflow-y: hidden;
  display: inline-block;
}

.video-carousel:hover {
	cursor: grab;
}

.video-carousel:active {
	cursor: grabbing;
}


img {
	height: 500px;
	pointer-events: none;
}


/* width */
.video-carousel::-webkit-scrollbar {
	height: 2px;
	display: inline-block;
}
 
.video-carousel::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
.video-carousel::-webkit-scrollbar-thumb {
  background-color: #191919;
}



@media screen and (max-width: 480px) {
	.video-carousel {
		display: block;
		white-space: inherit;
	}
	.video-carousel img {
		width: 100%;
		height: auto;
		padding:0px 5px;
	}
}


































